.contentAppartment h5{
    opacity: 0.8;
}

.contentDetails img{
    width: 20px;
    margin-top: 10px;
}

.pera p{
    font-size: 18px;
    line-height: 1.8;
    opacity: 0.8;
}

.contentRating img{
    width: 10px;
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}


.title h3{
    margin-top: 30px;
    font-weight: 700;
}

.man img{
    width: 50px; 
    height: 50px;
    border-radius: 50px;
    margin-top: 70px;
}