.tag a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid;
    margin: 5px;
    border-radius: 30px;
}

.capi{
    text-transform: capitalize !important;
    padding: 0px 5px;
}