.login{ 
    padding: 20px;
}

.loginBtn {
    background: linear-gradient( 90deg , rgba(43,222,140,1) 0%, rgba(117,238,82,1) 100%);
    color: #fff !important;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    border: none;
} 

.login h4,
.login h6{
    text-align: center;
}